{% extends "base.html" %}
{% block title %}Gestion de la cuisine{% endblock %}
{% block menu %}{% include "cuisine/menuCuisine.html" %}{% endblock %}
{% block content %}

<table class="table table-striped table-bordered">
    <tr>
        {% for key,value in data.items %}
            <th>{{key}}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for key,value in data.items %}
            <td>
                <table>
                    <tr><td><a href="{{value.0.0.0}}" >{{value.0.0.1}}</a></td></tr>
                    <tr><td><a href="{{value.0.1.0}}" >{{value.0.1.1}}</a></td></tr>
                    <tr><td><a href="{{value.0.2.0}}" >{{value.0.2.1}}</a></td></tr>
                </table>
            </td>
        {% endfor %}
    </tr>
    <tr>
        {% for key,value in data.items %}
        <td>
            <table>
                <tr><td><a href="{{value.1.0.0}}" >{{value.1.0.1}}</a></td></tr>
                <tr><td><a href="{{value.1.1.0}}" >{{value.1.1.1}}</a></td></tr>
                <tr><td><a href="{{value.1.2.0}}" >{{value.1.2.1}}</a></td></tr>
            </table>
        </td>
        {% endfor %}
    </tr>
</table>


{% endblock %}