{% extends "base.html" %}
{% block title %}Gestion des produits{% endblock %}
{% block menu %}{% include "cuisine/menuCuisine.html" %}{% endblock %}
{% block content %}

<form action="{% url 'gestion_ingredient' %}" method="post" class="element center-element" style="display: inline">
    {%csrf_token %}
    {{form_ajout}}
    {% if perms.cuisine.utiliser_ingredient %}
    <input type="submit" value="Créer un ingrédient" class="btn btn-primary button-validation"/>
    {% endif %}
</form>

<ul class="list-unstyled">
    {% for ingredient in ingredients %}
    <li class="media element">
        <i class="fas fa-cheese fa-5x mr-3"></i>
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{ingredient.nom}}</h5>
        </div>

    </li>
    {%empty%}
    <li>Aucun ingrédient</li>
    {%endfor%}
</ul>



{% endblock %}