{% extends "base.html" %}
{% block title %}Liste de course{% endblock %}
{% block menu %}{% include "cuisine/menuCuisine.html" %}{% endblock %}
{% block content %}

<script>

    function change_class(element) {
        if($(element).parent().attr("class") === "liste-A-non-acheter") {
            $(element).parent().attr("class","liste-A-acheter")
        } else {
            $(element).parent().attr("class","liste-A-non-acheter")
        }
    }

    function changeEtat(element, obj_id, is_ingredient) {
        if(is_ingredient) {
            $.ajax({
                url: "acheter/ingredient/"+obj_id,
                dataType: 'html',
                success:
                    change_class(element)
            });
        } else {
            $.ajax({
                url: "acheter/produit/"+obj_id,
                dataType: 'html',
                success:
                    change_class(element)
            });
        }
    }
</script>

<h2>{{liste.nom}}</h2>


{% if perms.cuisine.effacer_liste_course %}
<a href="{% url 'nouvelle_course' %}" class="center-element"><span class=" btn btn-warning "><i class="fa fa-list-ul fa sm"></i>Nouvelle liste</span></a>
<a href="{% url 'ajouter_recette_choix' %}"><span class=" btn btn-success"><i class="fas fa-hamburger fa sm"></i>Ajouter une recette</span></a>
<a href="{% url 'comparer_frigo' %}"><span class=" btn btn-info"><i class="fas fa-stroopwafel fa sm"></i>Ajuster la liste</span></a>
<a href="{% url 'ranger_dans_frigo' %}"><span class=" btn btn-secondary"><i class="fas fa-stroopwafel fa sm"></i>Ranger les éléments achetés</span></a>
{% endif %}

{% if liste.commentaire %}
<div>
    Commentaire : <br/>
    {{liste.commentaire}}
</div>
{% endif %}

<ul class="liste-A">
    {% for element in liste_ingredient %}
    <li class="{% if element.achete %}liste-A-acheter{% else %}liste-A-non-acheter{% endif %}">
        {% if perms.cuisine.utiliser_liste_course%}
        <a href="{% url 'effacer_ingredient_course' element.id %}"><span class=" btn btn-danger"><i class="fas fa-trash fa sm"></i></span></a>
        {% endif %}
        {{element.ingredient}} : {{element.quantite}} {{element.unite}}
        <a onclick="changeEtat(this, '{{element.id}}', true )"><span class=" btn btn-primary"><i class="fas fa-coins fa sm"></i></span></a> <!--href="{% url 'acheter_ingredient_course' element.id %}"-->
    </li>
    {% endfor %}

    {% for element in liste_autre %}
    <li class="{% if element.achete %}liste-A-acheter{% else %}liste-A-non-acheter{% endif %}">
        {% if perms.cuisine.utiliser_liste_course%}
        <a href="{% url 'effacer_produit_course' element.id %}"><span class=" btn btn-danger"><i class="fas fa-trash fa sm"></i></span></a>
        {% endif %}
        {{element.autre}} : {{element.nombre}}
        <a onclick="changeEtat(this, '{{element.id}}', false )"><span class=" btn btn-primary"><i class="fas fa-coins fa sm"></i></span></a>
    </li>
    {% endfor %}
</ul>

{% if perms.cuisine.utiliser_liste_course%}
<form method="post" action="{% url 'ajouter_produit_course' %}" class="form">
    {%csrf_token %}
    {{produit_form.as_table}}
    <input type="submit" class="btn btn-secondary button-validation" value="Ajouter un produit">
</form>

<form method="post" action="{% url 'ajouter_ingredient_course' %}" class="form">
    {%csrf_token %}
    {{ingredient_form.as_table}}
    <input type="submit" class="btn btn-secondary button-validation" value="Ajouter un ingrédient">
</form>

<form method="post" action="{% url 'modifier_commentaire_course' %}" class="form">
    {%csrf_token %}
    {{commentaire_form.as_p}}
    <input type="submit" class="btn btn-secondary button-validation" value="Modifier le commentaire">
</form>

{% endif %}
{% endblock %}