{% extends "base.html" %}
{% block title %}Gestion de la cuisine{% endblock %}
{% block menu %}{% include "mediatheque/menuMediatheque.html" %}{% endblock %}
{% block content %}

{% csrf_token %}
<script>


    function open_folder(to_open) {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            type: 'POST',
            url: "path/",
            dataType: 'json',
            data: {'folder': to_open},
            success: function (data) {
                console.debug(data)

                $('#liste_dossier').empty();
                $.each(data['list_folder'], function( key, value ) {
                    console.debug(key);
                    $('#liste_dossier').append('<li><div onclick="open_folder('+key+')">'+value+'</div></li>');
                });

                $('#liste_fichier').empty();
                $.each(data['list_files'], function( key, value ) {
                    console.debug(key);
                    $('#liste_fichier').append('<li><div onclick="open_folder('+key+')">'+value+'</div></li>');
                });
            }

        });
    }
</script>

<div>
    <ul id="liste_dossier" class="element-navigator">
       {% for key, value in list_folder.items  %}
        <li><div onclick="open_folder({{key}})">{{value}}</div></li>
        {% endfor %}
    </ul>

    <ul id="liste_fichier" class="element-navigator">
        {% for key, value in list_files.items  %}
        <li><div onclick="open_folder({{key}})">{{value}}</div></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}