{% extends "base.html" %}
{% block title %}Parcourir les répertoires{% endblock %}
{% block menu %}{% include "mediatheque/menuMediatheque.html" %}{% endblock %}
{% block content %}

{% csrf_token %}
<script>


    function open_folder(to_open) {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            type: 'POST',
            url: "path/",
            dataType: 'json',
            data: {'folder': to_open},
            success: function (data) {
                console.debug(data)

                $('#liste_dossier').empty();
                $.each(data['list_folder'], function( key, value ) {
                    console.debug(key);
                    $('#liste_dossier').append('<li><div onclick="open_folder(\''+key+'\')"><i class="fas fa-folder" style="margin-right: 5px;"></i>'+value+'</div></li>');
                });

                $('#liste_fichier').empty();
                $.each(data['list_files'], function( key, value ) {
                    console.debug(key);
                    $('#liste_fichier').append('<li><div onclick="open_folder(\''+key+'\')">'+value+'</div></li>');
                });
            }

        });
    }

    $(window).on('load', function() {
        open_folder("/");
    });
</script>

<div class="container">
    <div class="row">Dossiers : </div>
    <ul id="liste_dossier" class="row element-navigator">
       {% for key_map, value in list_folder.items  %}
        <li ><div onclick="open_folder({{key_map}})" class="col-sm-4"><i class="fas fa-folder" style="margin-right: 5px;"></i>{{value}}</div></li>
        {% endfor %}
    </ul>
    <hr style="margin-bottom:20px; margin-top: 20px;">
    <div class="row">Fichiers : </div>
    <ul id="liste_fichier" class="row element-navigator">
        {% for key, value in list_files.items  %}
        <li ><div onclick="open_folder({{key_map}})" class="col-sm4"><{{value}}</div></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}